       /* google font link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        /* global css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --color-1:#0f1016;
    --text-color: #fff;
    --accent-color: #006aff;
}
body{
    width: 100%;
    background: #0c111b;
    justify-content: center;
    position: relative;
    font-family: 'Roboto', sans-serif;
}



/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
--header-height: 3.5rem;

/*========== Colors ==========*/
/*Color mode HSL(hue, saturation, lightness)*/
--black-color: hsl(220, 24%, 12%);
--black-color-light: hsl(220, 24%, 15%);
--black-color-lighten: hsl(220, 20%, 18%);
--white-color: #fff;
--body-color: hsl(220, 100%, 97%);

/*========== Font and typography ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
--body-font: "Montserrat", sans-serif;
--normal-font-size: .938rem;

/*========== Font weight ==========*/
--font-regular: 400;
--font-semi-bold: 600;

/*========== z index ==========*/
--z-tooltip: 10;
--z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
:root {
--normal-font-size: 1rem;
}
}

/*=============== BASE ===============*/
* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
font-family: var(--body-font);
}

ul {
list-style: none;
/* Color highlighting when pressed on mobile devices */
/*-webkit-tap-highlight-color: transparent;*/
}

a {
text-decoration: none;
}


.movies-content .card:hover{
    transform: scale(1.3);
}


@media(max-width: 550px){

 .movies-content .card:hover{
    transform: scale(1.1);
}
}


.movies{
    width: 80%;
    margin: auto;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container-1 {
margin-inline: 1.5rem;
max-width: 1650px;
}

/*=============== HEADER ===============*/
.header-1 {
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: var(--black-color);
box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
height: 70px;
}

.nav__logo-1, 
.nav__burger-1, 
.nav__close-1 {
color: var(--white-color);
}

.nav__data-1 {
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav__logo-1 {
display: inline-flex;
align-items: center;
column-gap: .25rem;
font-weight: var(--font-semi-bold);
/* Color highlighting when pressed on mobile devices */
/*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo-1 i {
font-weight: initial;
font-size: 1.25rem;
}

.nav__toggle-1 {
position: relative;
width: 32px;
height: 32px;
}


.nav__burger-1, 
.nav__close-1 {
position: absolute;
width: max-content;
height: max-content;
inset: 0;
margin: auto;
font-size: 2.25rem; 
cursor: pointer;
transition: opacity .1s, transform .4s;
}

.movies-content .card{
  background-color: #fff;
  padding:5px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}



.card-container .card{
  background-color: #fff;
  padding:5px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.nav__close-1 {
opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
.nav__menu-1 {
position: absolute;
left: 0;
top: 2.5rem;
width: 100%;
height: calc(100vh - 3.5rem);
overflow: auto;
pointer-events: none;
opacity: 0;
transition: top .4s, opacity .3s;
}
.nav__menu-1::-webkit-scrollbar {
width: 0;
}
.nav__list-1 {
background-color: var(--black-color);
padding-top: 1rem;
}
}

.nav__link-1 {
color: var(--white-color);
background-color: var(--black-color);
font-weight: var(--font-semi-bold);
padding: 1.25rem 1.5rem;
display: flex;
justify-content: space-between;
align-items: center;
transition: background-color .3s;
}

.nav__link-1:hover {
background-color: var(--black-color-light);
}

/* Show menu */
.show-menu-1 {
opacity: 1;
top: 3.5rem;
pointer-events: initial;
}

/* Show icon */
.show-icon-1 .nav__burger-1{
opacity: 0;
transform: rotate(90deg);
}
.show-icon-1 .nav__close-1 {
opacity: 1;
transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item-1 {
cursor: pointer;
}

.dropdown__arrow-1 {
font-size: 1.25rem;
font-weight: initial;
transition: transform .4s;
}

.dropdown__link-1, 
.dropdown__sublink-1 {
padding: 1.25rem 1.25rem 1.25rem 2.5rem;
color: var(--white-color);
background-color: var(--black-color-light);
display: flex;
align-items: center;
column-gap: .5rem;
font-weight: var(--font-semi-bold);
transition: background-color .3s;
}

.dropdown__link-1 i, 
.dropdown__sublink-1 i {
font-size: 1.25rem;
font-weight: initial;
}

.dropdown__link-1:hover, 
.dropdown__sublink-1:hover {
background-color: var(--black-color);
}

.dropdown__menu-1, 
.dropdown__submenu-1 {
max-height: 0;
overflow: hidden;
transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item-1:hover .dropdown__menu-1, 
.dropdown__subitem-1:hover > .dropdown__submenu-1 {
max-height: 1000px;
transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item-1:hover .dropdown__arrow-1 {
transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add-1 {
margin-left: auto;
}

.dropdown__sublink-1 {
background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
.container-1 {
margin-inline: 1rem;
}

.nav__link-1 {
padding-inline: 1rem;
}
}

/* For large devices */
@media screen and (min-width: 1118px) {
.container-1 {
margin-inline: auto;
}

.nav {
height: calc(var(--header-height) + 2rem);
display: flex;
justify-content: space-between;
}
.nav__toggle-1 {
display: none;
}
.nav__list-1 {
height: 100%;
display: flex;
column-gap: 3rem;
}
.nav__link-1 {
height: 100%;
padding: 0;
justify-content: initial;
column-gap: .25rem;
}
.nav__link-1:hover {
background-color: transparent;
}

.dropdown__item-1, 
.dropdown__subitem-1 {
position: relative;
}

.dropdown__menu-1, 
.dropdown__submenu-1 {
max-height: initial;
overflow: initial;
position: absolute;
left: 0;
top: 6rem;
opacity: 0;
pointer-events: none;
transition: opacity .3s, top .3s;
}

.dropdown__link-1, 
.dropdown__sublink-1 {
padding-inline: 1rem 3.5rem;
}

.dropdown__subitem-1 .dropdown__link-1 {
padding-inline: 1rem;
}

.dropdown__submenu-1 {
position: absolute;
left: 100%;
top: .5rem;
}

/* Show dropdown menu */
.dropdown__item-1:hover .dropdown__menu-1 {
opacity: 1;
top: 5.5rem;
pointer-events: initial;
transition: top .3s;
}

/* Show dropdown submenu */
.dropdown__subitem-1:hover > .dropdown__submenu-1 {
opacity: 1;
top: 0;
pointer-events: initial;
transition: top .3s;
}
}


.download{
    color: #f702d6;
    font-size: 15px;
}
.download:hover{
    color: #f2f602;
}
a.active,a:hover{
    color: #f2f602;
    transition: 0.5s;
}

.carousel-container{
    position: relative;
    width: 100%;
    height: 450px;
    padding: 20px 0;
    overflow-x: hidden;
}
.carousel{
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
}
.slider{
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
}
.slider img{
    width: 70%;
    min-height: 100%;
    object-fit:cover;
    display: block;
    margin-left: auto;
}
.slider-content{
    position: absolute;
    width: 50%;
    height: 100%;
    font-size: 13px;
    background: linear-gradient(to rgba, #030b17 80%, #0c111b00);
    color: #ffffff;
    z-index: 2;
}
.movie-title{
    padding-left: 50px;
    text-transform: capitalize;
    margin-top: 80px;
}
.movie-desc{
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 30px;
    opacity: 0.8;
}

/* carousel section end */

/* video card start */
.video-card-container{
    position: relative;
    flex-wrap: wrap;
    width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.video-card{
    position: relative;
    min-width: calc(100%/5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
}
.video-card-image,
.card-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-video {
    position: absolute;
}
.video-card:hover .video-card-image{
    display: none;
}
/* video card end */

/* title part for start */
.title{
    color: #fff;
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
}
.title1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #5a5425;
    font-size: 17px;
}
.img-l {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.h{
    color: #e8fd07;
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
}
/* title part for end */

/* movie card start */
.movie-list{
    top: 10px;
    width: 100%;
    height: 220px;
    position: relative;
    margin: 10px 0 20px;
}
.movie-list1{
    /* top: 10px; */
    width: 100%;
    height: 220px;
    position: relative;
    margin: 10px 0 20px;
}
.movie-list2{
    /* top: -14px; */
    width: 100%;
    height: 260px;
    position: relative;
    margin: 10px 0 20px;
}
.movie-list3{
    width: 100%;
    height: 260px;
    position: relative;
    margin: 10px 0 20px;
}
.card-container{
    position: absolute;
    width: 92%;
    padding-left: 4%;
    height: 220px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}
.card-container::-webkit-scrollbar{
    display: none;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    min-width: 150px;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    transition: 0.5s;
    background: #030b17;
}
.card-img{
    width: 110px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card:hover{
    transform: scale(1.1);
    z-index: 99999;
}
.card:hover .card-body:hover{
    opacity: 1;
}
.card-body{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4, 8,15,0), #192133 90%);
    padding: 10px;
    transition: 0.5s;
}
.name{
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 100%;
}
.name1{
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 100%;
}
.pre-btn{
    position: absolute;
    top: 0;
    width: 3%;
    height: 100%;
    z-index: 2;
    border: none;
    cursor: pointer;
}
.nxt-btn{
    position: absolute;
    top: 0;
    width: 3%;
    height: 100%;
    z-index: 2;
    border: none;
    cursor: pointer;
}
.pre-btn{
    z-index: 3;
    left: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b);
}
.nxt-btn{
    z-index: 3;
    right: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b);
}
.pre-btn img,
.nxt-btn img{
    width: 10px;
    height: 15px;
    opacity: 0;
}
.pre-btn:hover img,
.nxt-btn:hover img{
    opacity: 1;
}

/* movie card end */

/* movies section start */
/* Heading */
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1b222c;
    color: #fff;
    padding: 8px 14px;
    border: 1px solid hsl(200, 100%, 99%/5%);
    margin-bottom: 2rem;
}
.heading-tiile{
    font-size: 1.2rem;
    font-weight: 500;
}
.movie-box{
    position: relative;
    width: 100%;
    max-width: 200px;
    height: auto;
    overflow: hidden;
}
@media(max-width:550px){
    .movie-box{
        position: relative;
        width: 100%;
        max-width: 150px;
        height: auto;
        overflow: hidden;
    }
    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        position: relative;
        min-width: 120px;
        width: 120px;
        height: 160px;
        border-radius: 5px;
        overflow: hidden;
        margin-right: 10px;
        transition: 0.5s;
        background: #030b17;
    }
}
.movie-box-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movie-box .box-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-end;
    padding: 14px;
    background: linear-gradient(
    8deg, 
    hsla(240, 38%, 8%, 0.74) 14%,
    hsla(240, 70%, 15%, 0.14) 44%);
    overflow: hidden; 
}

.play-btn{
    position: absolute;
    bottom: 3rem;
    right: 1.1rem;
}
.watch-btn{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    color: #fff;
    text-decoration: none;
}
.watch-btn .bx{
    font-size: 13px;
    background: #db9b07;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.watch-btn .bx:hover{
    font-size: 1rem;
    font-weight: 400;
}
.movies .heading{
    padding: 10px 14px;
}
.movies-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(247px,1fr));
    gap: 4.0rem;
}


@media (max-width: 450px){
    .movies-content{
        gap: 0.5rem;
    }
}


.movies-content .movie-box:hover .movie-box-img {
    transform: scale(1.1);
    transition: 0.5s;
}
.open{
    display: flex;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e5b74b;
}
.open:hover{
    background-color: #db9b07;
}
.down{
    display: flex;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e5b74b;
}
.down:hover{
    background-color: #db9b07;
}
/* movies section end */

/* Movies html section */
.movie-type1{
    display: flex;
    color: #fff;
}
.movie-type{
    color: #e5b74b;
}
.karagar{
    width: 180px;
}
/* disney studio */

.title2{
    display: block;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 129px;
}
.movies{
    display: flex;
    top: 140px;
    position: relative;
}
.card-container{
    display: flex;
    z-index: 2;
    height: auto;
    max-width: 1580px;
    width: 97%;
}


